<%= form_for(spend) do |f| %>
  <% if spend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spend.errors.count, "error") %> prohibited this spend from being saved:</h2>

      <ul>
      <% spend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spend_for %>
    <%= f.text_field :spend_for %>
  </div>

  <div class="field">
    <%= f.label :spend_amount %>
    <%= f.text_field :spend_amount %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
